body {
  background-color: #ffffff;
  font-family: 'League Spartan', sans-serif;
}

.fondo-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.title {
  color: hsl(300, 43%, 22%);
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  color: hsl(303, 10%, 53%);
  font-size: 20px;
  margin-bottom: 40px;
}

.stars-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 50px auto;
}

.review-stars {
  display: flex;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
  padding: 15px 20px;
  margin-bottom: 20px;
  font-weight: bold;
  min-width: 450px;
  height: 50px;
  border-radius: 10px;
  flex-shrink: 0;
  text-align: center;
}

.review-stars svg {
  margin-left: 5px;
}

.review-stars p {
  margin: 0;
  flex-grow: 1;
}

.reviews-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 50px auto 0 auto;
  max-width: 600px;
}

.review {
  width: 100%;
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.review:nth-child(1) {
  margin-top: 0;
}

.review:nth-child(2) {
  margin-top: 20px;
}

.review:nth-child(3) {
  margin-top: 40px;
}

.review blockquote {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  word-spacing: 2px;
  margin: auto;
  margin-top: 22px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-text {
  display: flex;
  flex-direction: column;
}

.profile h4 {
  color: white;
  font-size: 18px;
  margin: 0;
}

.profile h5 {
  color: hsl(333, 80%, 67%);
  margin: 0;
}

@media (max-width: 1024px) {
  .title {
      font-size: 35px;
  }

  .subtitle {
      font-size: 16px;
  }

  .review-stars {
      min-width: 350px;
      height: 45px;
      padding: 10px 15px;
  }
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }

  .title-container {
      width: 100%;
      text-align: center;
  }

  .stars-container {
      align-items: center;
      margin-bottom: 30px;
  }

  .reviews-container {
      flex-direction: column;
      max-width: 100%;
      padding: 0 20px;
  }

  .review {
      width: 100%;
      margin: 20px 0;
  }

  .review blockquote {
      font-size: 14px;
      line-height: 1.4;
      text-align: center;
  }

  .profile {
      justify-content: center;
      margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .container {
      padding: 20px;
      text-align: center;
  }

  .title-container {
      width: 100%;
      text-align: center;
  }

  .title {
      font-size: 35px;
      margin-bottom: 15px;
  }

  .subtitle {
      font-size: 18px;
      margin-bottom: 30px;
  }

  .stars-container {
      align-items: center;
      margin-bottom: 30px;
  }

  .review-stars {
      display: flex;
      flex-direction: column; /* Cambio a columna para que el texto esté debajo */
      align-items: center; /* Centrar los elementos */
      padding: 15px 10px;
      min-width: 250px;
      height: auto;
      margin-bottom: 20px;
  }

  .review-stars div {
      display: flex;
      justify-content: center; /* Asegurar que las estrellas estén en fila */
  }

  .review-stars svg {
      margin-left: 5px; /* Margen entre las estrellas */
      margin-bottom: 0; /* Eliminar margen inferior */
  }

  .review-stars p {
      margin-top: 10px;
      margin-bottom: 0;
      text-align: center; /* Centrar el texto */
  }

  .reviews-container {
      flex-direction: column;
      margin: 20px 0;
  }

  .review {
      width: 100%;
      padding: 15px;
      margin: 20px 0;
      text-align: left;
  }

  .review blockquote {
      font-size: 14px;
      line-height: 1.4;
      text-align: left;
      margin-top: 10px;
  }

  .profile {
      justify-content: flex-start;
      margin-bottom: 10px;
      text-align: left;
  }

  .profile img {
      margin-right: 10px;
  }

  .profile-text {
      display: flex;
      flex-direction: column;
  }

  .profile h4 {
      font-size: 16px;
  }

  .profile h5 {
      font-size: 14px;
  }
}
